.button1 {
    background-color: rgb(95, 95, 97);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.button2 {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.button2 {
    background-color: rgb(95, 95, 97);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  .box{
    background-color: lightgrey;
    width: 500;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
  }
  .textbox{
    background-color: lightgray;
    width: 250;
    border: 5px solid blue;
    padding: 50px;
    margin: 20px;
  }
  .labelbox{
    background-color: lightgrey;
    width: 250;
    border: 5px solid rgb(14, 14, 15);
    padding: 50px;
    margin: 20px;
  }